<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>User</key>
		<dict>
			<key>Head</key>
			<string>headPic</string>
			<key>Name</key>
			<string>夜深人不静</string>
			<key>Level</key>
			<string>LV12</string>
			<key>Date</key>
			<string>2016-01-01</string>
			<key>Place</key>
			<string>上海市</string>
			<key>isMale</key>
			<true/>
			<key>isMaster</key>
			<true/>
		</dict>
		<key>Title</key>
		<string>嘿嘿，夜深人静[淫笑]</string>
		<key>Content</key>
		<string>对潇潇暮雨洒江天，一番洗清秋。\n[微笑]渐霜风凄紧，关河冷落，残照当楼。\n[微笑]是处红衰翠减，苒苒物华休。\n惟有长江水，无语东流。不忍登高临远，望故乡渺邈，归思难收。\n[微笑] 叹年来踪迹，何事苦淹留。[微笑] 想佳人、妆楼颙望，误几回、天际识归舟。争知我、倚阑干处，正恁凝愁 [微笑][微笑][微笑][微笑][微笑][微笑][微笑][微笑][微笑][微笑][微笑][微笑]</string>
		<key>PostReplyArr</key>
		<array>
			<dict>
				<key>User</key>
				<dict>
					<key>Head</key>
					<string>headPic</string>
					<key>Name</key>
					<string>张三丰</string>
					<key>Level</key>
					<string>LV10</string>
					<key>Date</key>
					<string>2016-01-01</string>
					<key>Place</key>
					<string>北京市</string>
					<key>isMale</key>
					<true/>
					<key>isMaster</key>
					<false/>
				</dict>
				<key>Reply</key>
				<string>对酒当歌，人生几何。[微笑]</string>
				<key>Floor</key>
				<integer>1</integer>
				<key>ReplyArr</key>
				<array>
					<dict>
						<key>User</key>
						<dict>
							<key>Head</key>
							<string>headPic</string>
							<key>Name</key>
							<string>张三</string>
							<key>Level</key>
							<string>LV10</string>
							<key>Date</key>
							<string>2016-01-01</string>
							<key>Place</key>
							<string>北京市</string>
							<key>isMale</key>
							<true/>
							<key>isMaster</key>
							<false/>
						</dict>
						<key>Content</key>
						<string>借楼！！！[微笑]</string>
					</dict>
					<dict>
						<key>User</key>
						<dict>
							<key>Head</key>
							<string>headPic</string>
							<key>Name</key>
							<string>李四</string>
							<key>Level</key>
							<string>LV10</string>
							<key>Date</key>
							<string>2016-01-01</string>
							<key>Place</key>
							<string>北京市</string>
							<key>isMale</key>
							<true/>
							<key>isMaster</key>
							<false/>
						</dict>
						<key>Content</key>
						<string>借楼！！！[微笑]借楼！！！[微笑]借楼！！！[微笑]借楼！！！[微笑]</string>
					</dict>
					<dict>
						<key>User</key>
						<dict>
							<key>Head</key>
							<string>headPic</string>
							<key>Name</key>
							<string>王五</string>
							<key>Level</key>
							<string>LV10</string>
							<key>Date</key>
							<string>2016-01-01</string>
							<key>Place</key>
							<string>北京市</string>
							<key>isMale</key>
							<true/>
							<key>isMaster</key>
							<false/>
						</dict>
						<key>Content</key>
						<string>借楼！！！[微笑][大兵][微笑][大兵][微笑][大兵][微笑][大兵][微笑][大兵]</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>User</key>
				<dict>
					<key>Head</key>
					<string>headPic</string>
					<key>Name</key>
					<string>李莫愁</string>
					<key>Level</key>
					<string>LV10</string>
					<key>Date</key>
					<string>2016-01-01</string>
					<key>Place</key>
					<string>北京市</string>
					<key>isMale</key>
					<true/>
					<key>isMaster</key>
					<false/>
				</dict>
				<key>Reply</key>
				<string>对酒当歌，人生几何。[微笑]</string>
				<key>Floor</key>
				<integer>2</integer>
				<key>ReplyArr</key>
				<array>
					<dict>
						<key>User</key>
						<dict>
							<key>Head</key>
							<string>headPic</string>
							<key>Name</key>
							<string>张三</string>
							<key>Level</key>
							<string>LV10</string>
							<key>Date</key>
							<string>2016-01-01</string>
							<key>Place</key>
							<string>北京市</string>
							<key>isMale</key>
							<true/>
							<key>isMaster</key>
							<false/>
						</dict>
						<key>Content</key>
						<string>借楼！！！[微笑]</string>
					</dict>
					<dict>
						<key>User</key>
						<dict>
							<key>Head</key>
							<string>headPic</string>
							<key>Name</key>
							<string>李四</string>
							<key>Level</key>
							<string>LV10</string>
							<key>Date</key>
							<string>2016-01-01</string>
							<key>Place</key>
							<string>北京市</string>
							<key>isMale</key>
							<true/>
							<key>isMaster</key>
							<false/>
						</dict>
						<key>Content</key>
						<string>借楼！！！[微笑]借楼！！！[微笑]借楼！！！[微笑]借楼！！！[微笑]</string>
					</dict>
					<dict>
						<key>User</key>
						<dict>
							<key>Head</key>
							<string>headPic</string>
							<key>Name</key>
							<string>王五</string>
							<key>Level</key>
							<string>LV10</string>
							<key>Date</key>
							<string>2016-01-01</string>
							<key>Place</key>
							<string>北京市</string>
							<key>isMale</key>
							<true/>
							<key>isMaster</key>
							<false/>
						</dict>
						<key>Content</key>
						<string>借楼！！！[微笑][大兵][微笑][大兵][微笑][大兵][微笑][大兵][微笑][大兵]</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>User</key>
				<dict>
					<key>Head</key>
					<string>headPic</string>
					<key>Name</key>
					<string>杨过</string>
					<key>Level</key>
					<string>LV10</string>
					<key>Date</key>
					<string>2016-01-01</string>
					<key>Place</key>
					<string>北京市</string>
					<key>isMale</key>
					<true/>
					<key>isMaster</key>
					<false/>
				</dict>
				<key>Reply</key>
				<string>对酒当歌，人生几何。[微笑]</string>
				<key>Floor</key>
				<integer>3</integer>
				<key>ReplyArr</key>
				<array>
					<dict>
						<key>User</key>
						<dict>
							<key>Head</key>
							<string>headPic</string>
							<key>Name</key>
							<string>张三</string>
							<key>Level</key>
							<string>LV10</string>
							<key>Date</key>
							<string>2016-01-01</string>
							<key>Place</key>
							<string>北京市</string>
							<key>isMale</key>
							<true/>
							<key>isMaster</key>
							<false/>
						</dict>
						<key>Content</key>
						<string>借楼！！！[微笑]</string>
					</dict>
					<dict>
						<key>User</key>
						<dict>
							<key>Head</key>
							<string>headPic</string>
							<key>Name</key>
							<string>李四</string>
							<key>Level</key>
							<string>LV10</string>
							<key>Date</key>
							<string>2016-01-01</string>
							<key>Place</key>
							<string>北京市</string>
							<key>isMale</key>
							<true/>
							<key>isMaster</key>
							<false/>
						</dict>
						<key>Content</key>
						<string>借楼！！！[微笑]借楼！！！[微笑]借楼！！！[微笑]借楼！！！[微笑]</string>
					</dict>
					<dict>
						<key>User</key>
						<dict>
							<key>Head</key>
							<string>headPic</string>
							<key>Name</key>
							<string>王五</string>
							<key>Level</key>
							<string>LV10</string>
							<key>Date</key>
							<string>2016-01-01</string>
							<key>Place</key>
							<string>北京市</string>
							<key>isMale</key>
							<true/>
							<key>isMaster</key>
							<false/>
						</dict>
						<key>Content</key>
						<string>借楼！！！[微笑][大兵][微笑][大兵][微笑][大兵][微笑][大兵][微笑][大兵]</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>User</key>
				<dict>
					<key>Head</key>
					<string>headPic</string>
					<key>Name</key>
					<string>郭靖</string>
					<key>Level</key>
					<string>LV10</string>
					<key>Date</key>
					<string>2016-01-01</string>
					<key>Place</key>
					<string>北京市</string>
					<key>isMale</key>
					<true/>
					<key>isMaster</key>
					<false/>
				</dict>
				<key>Reply</key>
				<string>对酒当歌，人生几何。[微笑]对酒当歌，人生几何。[微笑]对酒当歌，人生几何。[微笑]对酒当歌，人生几何。[微笑]</string>
				<key>Floor</key>
				<integer>4</integer>
				<key>ReplyArr</key>
				<array>
					<dict>
						<key>User</key>
						<dict>
							<key>Head</key>
							<string>headPic</string>
							<key>Name</key>
							<string>张三</string>
							<key>Level</key>
							<string>LV10</string>
							<key>Date</key>
							<string>2016-01-01</string>
							<key>Place</key>
							<string>北京市</string>
							<key>isMale</key>
							<true/>
							<key>isMaster</key>
							<false/>
						</dict>
						<key>Content</key>
						<string>借楼！！！[微笑]</string>
					</dict>
					<dict>
						<key>User</key>
						<dict>
							<key>Head</key>
							<string>headPic</string>
							<key>Name</key>
							<string>李四</string>
							<key>Level</key>
							<string>LV10</string>
							<key>Date</key>
							<string>2016-01-01</string>
							<key>Place</key>
							<string>北京市</string>
							<key>isMale</key>
							<true/>
							<key>isMaster</key>
							<false/>
						</dict>
						<key>Content</key>
						<string>借楼！！！[微笑]借楼！！！[微笑]借楼！！！[微笑]借楼！！！[微笑]</string>
					</dict>
					<dict>
						<key>User</key>
						<dict>
							<key>Head</key>
							<string>headPic</string>
							<key>Name</key>
							<string>王五</string>
							<key>Level</key>
							<string>LV10</string>
							<key>Date</key>
							<string>2016-01-01</string>
							<key>Place</key>
							<string>北京市</string>
							<key>isMale</key>
							<true/>
							<key>isMaster</key>
							<false/>
						</dict>
						<key>Content</key>
						<string>借楼！！！[微笑][大兵][微笑][大兵][微笑][大兵][微笑][大兵][微笑][大兵]</string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
</array>
</plist>
